* {
  font-family: sans-serif;
}

.logo {
  text-align: center;
}

.logo-pic {
  width: 250px;
}

.box {
  --width: 50px;
  --height: 50px;
  --depth: 50px;
  width: var(--width);
  height: var(--height);
  position: relative;
  transform-style: preserve-3d;
  transition: 4s;
  display: inline-block;
  translate: 20px 15px;
}

.box_face {
  position: absolute;
}

.back,
.front {
  width: var(--width);
  height: var(--height);
  --coeff: -0.5;
  transform: translate3d(0, 0, calc(var(--depth) * var(--coeff)));
  --color: green;
}

.front {
  --coeff: 0.5;
}

.left,
.right {
  width: var(--depth);
  height: var(--height);
  --rotate: 90deg;
  --coeff: -0.5;
  transform: rotateY(var(--rotate)) translate3d(0, 0, calc(var(--width) * 0.5));
}

.left {
  --rotate: -90deg;
}

.top,
.bottom {
  width: var(--width);
  height: var(--depth);
  --rotate: 90deg;
  transform: rotateX(var(--rotate)) translate3d(0, 0, calc(var(--height) * 0.5));

}
.bottom {
  --rotate: -90deg;
}

img {
  width: 50px;
}